<div class="panel panel-info">
  <header class="panel-heading">
    <h3 class="panel-title">{{slide.title}}</h3>
  </header>
  <div class="panel-body">{{markdown slide.content}}</div>
  <footer class="panel-footer">
    Slide Number: {{slide.number}} of {{slide.video.slides.length}}
  </footer>
</div>
