<span
  {{bind-attr
    class=":float-label showFloatLabel:float-label-active: focused:float-label-focused:"
  }}>
  {{placeholder}}
</span>
{{textarea
  classNames="form-control"
  rows=rows
  placeholder=placeholder
  value=value}}
