<div class="input-group">
  <div class="input-group-btn">
    <button class="btn btn-primary"
    {{action "verifyAndCreate" newTitle}}>
      <i class="glyphicon glyphicon-plus-sign"></i>
    </button>
  </div>
  {{#kane-input-floatlabel
    value=newTitle
    label="NEW TITLE"}}
    {{input
      value=newTitle
      placeholder="NEW TITLE"
      classNames="form-control"}}
  {{/kane-input-floatlabel}}
</div>
