<header class="row">
  <div class="col-md-12 well well-sm">
    <button class="btn btn-danger"
    {{action "deleteVideo" content}}>
      <i class="glyphicon glyphicon-remove-circle"></i>
    </button>
    {{#link-to "video" content
    classNames="btn btn-primary"}}
      <i class="glyphicon glyphicon-pencil"></i>
    {{/link-to}}
  </div>
</header>

<section class="row">
  <div class="col-md-12">
    {{kane-video-preview video=content}}
  </div>
</section>
