<!-- HEADER -->
<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      {{#link-to "index" classNames="navbar-brand"}}
        darkcloud.io 
      {{/link-to}} 
    </div>

    <ul class="nav navbar-nav pull-left">
      <li>{{#link-to "videos"}}Videos{{/link-to}}</li>
      <li><a href="" {{action "createVideo"}}>New Video</a></li>
    </ul>
  </div>
</div>

<div class="container">
  {{outlet}}
</div>
