<section class="row">

  <header class="row">
    <div class="col-md-12">
      {{kane-floatlabel-input 
        value=title
        placeholder="TITLE"}}
    </div>
  </header>
  <section class="col-md-6">
    <header class="row">
      <div class="col-md-12 well well-sm">
      </div>
    </header>

    <section class="row">
      <div class="col-md-12">
      </div>
    </section>
  </section>

  <section class="col-md-6">
    <header class="row">
      <div class="col-md-12 well well-sm">
      </div>
    </header>

    <div class="row">
      <div class="col-md-12">
      </div> 
    </div>  
  </section>

</section>
