<section class="row">

  <aside class="col-md-3">
    <header class="row">
      <div class="col-md-12 well well-sm">
        {{kane-create-video action="createVideo"}}
      </div>
    </header>

    <section class="row">
      <div class="col-md-12">
        <div class="list-group">
          {{#each video in activeVideos}}
            {{#link-to "videos.detail" video
              classNames="list-group-item"}}
              {{video.title}}
            {{/link-to}}
          {{else}}
            <h3 class="text-warning">No videos found</h3>
          {{/each}}
        </div>
      </div>
    </section>
  </aside>

  <section class="col-md-9">
    <div class="row">
      <div class="col-md-12">
        {{outlet}}          
      </div> 
    </div>  
  </section>

</section>
