.animate-colors {
  -webkit-transition: color .3s ease, background-color .3s ease;
  -moz-transition: color .3s ease, background-color .3s ease;
  -ms-transition: color .3s ease, background-color .3s ease;
  transition: color .3s ease, background-color .3s ease;
}

.animate-positions {
  -webkit-transition: top .3s ease, left .3s ease, bottom .3s ease right .3s ease;
  -moz-transition: top .3s ease, left .3s ease, bottom .3s ease right .3s ease;
  -ms-transition: top .3s ease, left .3s ease, bottom .3s ease right .3s ease;
  transition: top .3s ease, left .3s ease, bottom .3s ease right .3s ease;
}

.animate-size {
  -webkit-transition: font-size .3s ease, font-weight .3s ease;
  -moz-transition: font-size .3s ease, font-weight .3s ease;
  -ms-transition: font-size .3s ease, font-weight .3s ease;
  transition: font-size .3s ease, font-weight .3s ease;
}
